<header class="main-header" 
    (click)="onCloseSearch()" 
    [ngClass]="{'active-m': openListMenu === true}">
    <div class="container w-head">
        <div class="row">
            <div class="d-flex flex-lg-row flex-column align-items-center w-100">
                <!-- logo -->
                <div class="w-logo d-lg-block d-flex justify-content-between align-items-center order-1" 
                     routerLinkActive="current" 
                     [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="/" class="logo d-block" (click)="closeMenu()">
                        <img class="w-100" src="assets/img/msa.png" alt="">
                    </a>
                    <div class="hamburger d-lg-none" (click)="onOpenMenuMobile()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>

                <!-- all menu -->
                <div class="all-menu pt-lg-2 order-lg-2 order-3">
                    <ul class="nav no-list flex-lg-row flex-column justify-content-lg-between">
                        
                        <!-- about us -->
                        <li class="w-title parent" 
                            routerLinkActive="current"
                            (mouseenter)="openDropdownD($event)"  
                            (mouseleave)="closeDropdownD($event)">
                            <!-- desktop -->
                            <a  class="menu-name d-lg-block d-none" 
                                routerLink="/about-us"
                                (click)="closeMenu()">
                                Tentang Kami
                            </a>
                            <!-- mobile -->
                            <a  class="menu-name d-lg-none d-block" 
                                (click)="listMenuMobile($event)">
                                Tentang Kami
                                <span class="d-lg-none arr"><i class="icon ion-ios-arrow-down"></i></span>
                            </a>
                            <hr class="active-border">
                            <div class="child" (click)="closeMenu()"> 
                                <div class="container px-lg-3 px-0">
                                    <div class="row">
                                        <div class="col-lg-2">
                                        </div>
                                        <div class="col-lg-6 ml-16 pr-lg-3 px-0">
                                            <ul class="child-list">
                                                <li><a routerLink="/about-us">Vission & Mission</a></li>
                                                <li><a routerLink="/about-us">Executive Profiles</a></li>
                                                <li><a routerLink="/about-us">Our Partner</a></li>
                                                <li><a routerLink="/about-us">Achievement</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!-- products -->
                        <li class="w-title" routerLinkActive="current">
                            <a routerLink="/products" class="menu-name" (click)="closeMenu()">Products</a>
                            <hr class="active-border">
                        </li>
                        <!-- services -->
                        <li class="w-title parent" 
                            routerLinkActive="current"
                            (mouseenter)="openDropdownD($event)"  
                            (mouseleave)="closeDropdownD($event)">
                            <!-- desktop -->
                            <a  class="menu-name d-lg-block d-none" 
                                routerLink="/services"
                                (click)="closeMenu()" >
                                Services
                            </a>
                            <!-- mobile -->
                            <a  class="menu-name d-lg-none d-block" 
                                (click)="listMenuMobile($event)">
                                Services
                                <span class="d-lg-none arr"><i class="icon ion-ios-arrow-down"></i></span>
                            </a>
                            <hr class="active-border">
                            <div class="child" (click)="closeMenu()"> 
                                <div class="container px-lg-3 px-0">
                                    <div class="row">
                                        <div class="col-lg-8 con-service pr-lg-3 px-0 ml-auto">
                                            <div class="row">
                                                <div class="col-lg-6 px-lg-3 px-0">
                                                    <ul class="child-list">
                                                        <li><a routerLink="/services/security">Security</a></li>
                                                        <li><a routerLink="/services/data-center">Data Center</a></li>
                                                        <li><a routerLink="/services/unified-communication">Unified Communication</a></li>
                                                        <li><a routerLink="/services/application">Application</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 px-lg-3 px-0">
                                                    <ul class="child-list">
                                                        <li><a routerLink="/services/support-services">Support Services</a></li>
                                                        <li><a routerLink="/services/network-and-infratructure">Network and Infrastructure Technology</a></li>
                                                        <li><a routerLink="/services/big-data">Analycital and Big Data</a></li>
                                                        <li><a routerLink="/services/iot">IoT Infrastructure</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- news & event -->
                        <li class="w-title parent" 
                            routerLinkActive="current"
                            (mouseenter)="openDropdownD($event)"  
                            (mouseleave)="closeDropdownD($event)">
                            <!-- desktop -->
                            <a  class="menu-name d-lg-block d-none" 
                                routerLink="/news-events"
                                (click)="closeMenu()">
                                News & Events
                            </a>
                            <!-- mobile -->
                            <a  class="menu-name d-lg-none d-block" 
                                (click)="listMenuMobile($event)">
                                News & Events
                                <span class="d-lg-none arr"><i class="icon ion-ios-arrow-down"></i></span>
                            </a>
                            <hr class="active-border">
                            <div class="child" (click)="closeMenu()"> 
                                <div class="container px-lg-3 px-0">
                                    <div class="row">
                                        <div class="col-lg-5">
                                        </div>
                                        <div class="col-lg-3 con-news pr-lg-0 px-0">
                                            <ul class="child-list">
                                                <li><a routerLink="/news-events" fragment="news">News</a></li>
                                                <li><a routerLink="/news-events" fragment="event">Events</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- gallery -->
                        <li class="w-title" routerLinkActive="current">
                            <a routerLink="/gallery" class="menu-name" (click)="closeMenu()">Gallery</a>
                            <hr class="active-border">
                        </li>
                        <!-- contact us -->
                        <li class="w-title" routerLinkActive="current">
                            <a routerLink="/contact-us" class="menu-name" (click)="closeMenu()">Contact Us</a>
                            <hr class="active-border">
                        </li>
                        <!-- career -->
                        <li class="w-title" routerLinkActive="current">
                            <a routerLink="/career" class="menu-name" (click)="closeMenu()">Career</a>
                            <hr class="active-border">
                        </li>
                    </ul>
                </div>
                <!-- dual language and search -->
                <div class="en-id pt-lg-2 order-lg-3 order-2">
                    <ul class="nav no-list justify-content-lg-start justify-content-end">    
                        
                        <!-- language -->
                        <li class="w-lang" [ngClass]="{active: item == lang}" *ngFor="let item of listLang">
                            <a class="lang" (click)="closeMenu(); changeLanguage(item)">{{item}}</a>
                        </li>


                         <!-- search  -->
                         <li class="search-warp">
                            <div class="form-group mb-0 text-lg-left text-right" 
                                (click)="onOpenSearch($event)">
                                <input type="text" 
                                        class="form-control form-search" 
                                        name="search"  
                                        id="search"
                                        placeholder="search and enter ..."  
                                        [(ngModel)]="search" 
                                        [ngClass]="{'active-search':  openSearch === true}"
                                        (keydown)="onSearch($event)">
                                <img class="ic-search" 
                                    src="assets/img/icons/search.svg" 
                                    alt="">
                            </div> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>