// -----------------------------------------------------------------------------
// components/_list-career
// -----------------------------------------------------------------------------

section.list-career {
    .panel-heading {
        border-bottom: 1px solid;
        margin-bottom: 20px;
    }
    .panel-heading button {
        font-weight: 700;
        text-transform: uppercase;
        color: $black;
        padding-left: 0;
        padding-bottom: 15px;
    }
    .panel-body {
        margin-bottom: 20px;
    }
    span {
        text-transform: none;
        font-size: 90%;
        position: relative;
        top: 4px;
        color: $yellow;
    }
}

@media (max-width: 575px){
    section.list-career {
        .card, .panel-group .card-header {
            background-color: transparent;
        }
    }
}