// -----------------------------------------------------------------------------
// components/_events
// -----------------------------------------------------------------------------

section.news-events {
    padding-bottom: 60px;
    .category {
        position: absolute;
        z-index: 10;
        top: 30px;
        left: -5px;
        padding: 3px 10px;
        color: white;
    }
    .red {
        background-color: $red;
    }
    .yellow {
        background-color: $yellow;
    }
    .title {
        margin-bottom: 60px;
    }

    img {
        border-radius: 5px;
        object-fit: cover;
    }
    .warp {
        overflow: hidden;
        height: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        transition: .4s all;
    }
    .text {
        position: relative;
        background: radial-gradient(122.9% 122.9% at 50% 0%, rgba(0, 0, 0, 0.8) 61.19%, rgba(0, 0, 0, 0.8) 94.93%);
        border-radius: 0px 0px 5px 5px;
        padding: 20px;
    }
    a:hover .warp {
        height: 80px;
    }
    h3, p {
        line-height: normal;
    }
    h3 {
        color: red;
        margin: 0;
        font-size: 16px;
        @include warp-text(1);
    }
    p {
        color: white;
        font-size: 14px;
        @include warp-text(2);
    }
    

}

@media (max-width: 575px){
    section.news-events img {
        height: calc(350px - 150px) !important;
    }
}