// -----------------------------------------------------------------------------
// components/_service
// -----------------------------------------------------------------------------

section.services {
    h3 {
        font-weight: 400;
        margin-top: 10px;
        color: $black;
        transition: .4s
    }
    a:hover {
        text-decoration: none;
        h3 {
            color: $yellow;
        }
        img.img-hover {
            opacity: 1;
        }
        .img-real {
            opacity: 0;
        }
    
    }
    .warp {
        margin-bottom: 66px;
    }
    .title {
        margin-bottom: 35px;
    }
    img {
        height: 90px;
        width: auto;
    }

    img.img-real {transition: .4s all;opacity: 1;}
    img.img-hover {
        position: absolute;
        transition: .4s all;
        z-index: 1;
        opacity: 0;
    }
}

@media (min-width: 576px){
    
}
@media (max-width: 575px){
    section.services {
        .warp {
            display: flex;
            background-color: white;
            padding: 15px;
            margin-bottom: 10px;
        }
        .warp > a {
            flex: 1;
            padding-right: 10px;
        }
        .warp > h3 {
            flex: 4;
            text-align: left;
        }
        .warp img {
            width: 100%;
        }
        h3 {
            font-size: 18px;
            font-weight: 500;
        }
        img.img-hover {
            display: none;
        }
    }
}