<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h6 class="text-uppercase">KANTOR</h6>
                <p></p>
                <h6><a href=""></a></h6>
            </div>
            <div class="col-md-6">
                <h6 class="text-uppercase">EMAIL</h6>
                <a class="email"></a>
                <!-- <div class="mt-4 w-icons">
                    <a href=""><img src="assets/img/icons/fb.svg" alt=""></a>
                    <a href=""><img src="assets/img/icons/instagram.svg" alt=""></a>
                    <a href=""><img src="assets/img/icons/yt.svg" alt=""></a>
                </div> -->
            </div>
        </div>
    </div>
    <div class="back-top" (click)="scrollToTop()"><img src="assets/img/icons/arrow-up.svg" alt=""></div>
</footer>
